<div class="w-full pt-10">
   <ul class="list-reset mt-3 pb-12 px-2">
      <li class="md:my-0 border-b border-nav-custom-3 pr-6 bg-white hover:bg-gray-100">
         <a routerLink="/white"
            class="py-3 block pl-4 pr-2 align-middle text-color-blue-brand no-underline border-l-4 border-transparent hover:border-blue-900">
            <span class="pb-1 md:pb-0 text-base">Apparel</span>
         </a>
      </li>
      <li class="md:my-0 border-b border-nav-custom-3 pr-6 bg-white hover:bg-gray-100">
         <a href="#"
            class="py-3 block pl-4 pr-2 align-middle text-color-blue-brand no-underline border-l-4 border-transparent hover:border-blue-900">
            <span class="pb-1 md:pb-0 text-base">Benches,
               Workstations & Seating</span>
         </a>
      </li>
      <li class="md:my-0 border-b border-nav-custom-3 pr-6 bg-white hover:bg-gray-100">
         <a href="#"
            class="py-3 block pl-4 pr-2 align-middle text-color-blue-brand no-underline border-l-4 border-transparent hover:border-blue-900">
            <span class="pb-1 md:pb-0 text-base">Bottles & Dispensers</span>
         </a>
      </li>
      <li class="md:my-0 border-b border-nav-custom-3 pr-6 bg-white hover:bg-gray-100">
         <a href="#"
            class="py-3 block pl-4 pr-2 align-middle text-color-blue-brand no-underline border-l-4 border-transparent hover:border-blue-900">
            <span class="pb-1 md:pb-0 text-base">Cases & Tool Organizers</span>
         </a>
      </li>
      <li class="md:my-0 border-b border-nav-custom-3 pr-6 bg-white hover:bg-gray-100">
         <a href="#"
            class="py-3 block pl-4 pr-2 align-middle text-color-blue-brand no-underline border-l-4 border-transparent hover:border-blue-900">
            <span class="pb-1 md:pb-0 text-base">Cleanroom</span>
         </a>
      </li>
      <li class="md:my-0 border-b border-nav-custom-3 pr-6 bg-white hover:bg-gray-100">
         <a href="#"
            class="py-3 block pl-4 pr-2 align-middle text-color-blue-brand no-underline border-l-4 border-transparent hover:border-blue-900">
            <span class="pb-1 md:pb-0 text-base">Labels, Printers & Paper Supplies </span>
         </a>
      </li>
      <li class="md:my-0 border-b border-nav-custom-3 pr-6 bg-white hover:bg-gray-100">
         <a href="#"
            class="py-3 block pl-4 pr-2 align-middle text-color-blue-brand no-underline border-l-4 border-transparent hover:border-blue-900">
            <span class="pb-1 md:pb-0 text-base">Hand & Power Tools</span>
         </a>
      </li>
      <li class="md:my-0 border-b border-nav-custom-3 pr-6 bg-white hover:bg-gray-100">
         <a href="#"
            class="py-3 block pl-4 pr-2 align-middle text-color-blue-brand no-underline border-l-4 border-transparent hover:border-blue-900">
            <span class="pb-1 md:pb-0 text-base">Magnification & Lighting </span>
         </a>
      </li>
      <li class="md:my-0 border-b border-nav-custom-3 pr-6 bg-white hover:bg-gray-100">
         <a href="#"
            class="py-3 block pl-4 pr-2 align-middle text-color-blue-brand no-underline border-l-4 border-transparent hover:border-blue-900">
            <span class="pb-1 md:pb-0 text-base">Networking, Telecom & Fiber</span>
         </a>
      </li>
      <li class="md:my-0 border-b border-nav-custom-3 pr-6 bg-white hover:bg-gray-100">
         <a href="#"
            class="py-3 block pl-4 pr-2 align-middle text-color-blue-brand no-underline border-l-4 border-transparent hover:border-blue-900">
            <span class="pb-1 md:pb-0 text-base">Power Management</span>
         </a>
      </li>
      <li class="md:my-0 border-b border-nav-custom-3 pr-6 bg-white hover:bg-gray-100">
         <a href="#"
            class="py-3 block pl-4 pr-2 align-middle text-color-blue-brand no-underline border-l-4 border-transparent hover:border-blue-900">
            <span class="pb-1 md:pb-0 text-base">Safety Supplies</span>
         </a>
      </li>
      <li class="md:my-0 border-b border-nav-custom-3 pr-6 bg-white hover:bg-gray-100">
         <a href="#"
            class="py-3 block pl-4 pr-2 align-middle text-color-blue-brand no-underline border-l-4 border-transparent hover:border-blue-900">
            <span class="pb-1 md:pb-0 text-base">Solder & Desolder</span>
         </a>
      </li>
      <li class="md:my-0 border-b border-nav-custom-3 pr-6 bg-white hover:bg-gray-100">
         <a href="#"
            class="py-3 block pl-4 pr-2 align-middle text-color-blue-brand no-underline border-l-4 border-transparent hover:border-blue-900">
            <span class="pb-1 md:pb-0 text-base">Static Protection</span>
         </a>
      </li>
      <li class="md:my-0 border-b border-nav-custom-3 pr-6 bg-white hover:bg-gray-100">
         <a href="#"
            class="py-3 block pl-4 pr-2 align-middle text-color-blue-brand no-underline border-l-4 border-transparent hover:border-blue-900">
            <span class="pb-1 md:pb-0 text-base">Storage & Handling</span>
         </a>
      </li>
      <li class="md:my-0 border-b border-nav-custom-3 pr-6 bg-white hover:bg-gray-100">
         <a href="#"
            class="py-3 block pl-4 pr-2 align-middle text-color-blue-brand no-underline border-l-4 border-transparent hover:border-blue-900">
            <span class="pb-1 md:pb-0 text-base">Test Equipment</span>
         </a>
      </li>
      <li class="md:my-0 border-b border-nav-custom-3 pr-6 bg-white hover:bg-gray-100">
         <a href="#"
            class="py-3 block pl-4 pr-2 align-middle text-color-blue-brand no-underline border-l-4 border-transparent hover:border-blue-900">
            <span class="pb-1 md:pb-0 text-base">Tool Kits</span>
         </a>
      </li>
   </ul>
</div>