<nav id="header" #nav aria-label="Main Navigation" class="fixed w-full z-20 top-0 bg-white border-b border-nav-custom">

   <!--FIRST NAV LINE-->
   <div class="w-full border-b-2 border-blue-custom-1" #butttton>
      <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0">

         <div class="pl-6 flex content-end items-center">
            <button id="nav-toggle" *ngIf="!_windowService.getShowMenu()" (click)="minimenuDropdown()"
               class="flex items-center px-3 py-2 rounded-sm text-color-blue-brand border-gray-600 hover:text-gray-900 hover:border-purple-500 appearance-none focus:outline-none">
               <svg *ngIf="!showDropdownMobile" class="fill-current h-4 w-4" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <title>Menu</title>
                  <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
               </svg>
               <img *ngIf="showDropdownMobile" class="manImg" src="../../assets/Images/icon-close.svg" />
            </button>
            <h1>
               <a routerLink="/" title="To Techi-tool’s homepage">
                  <svg class="mr-4" width="167" height="19" xmlns="http://www.w3.org/2000/svg" role="img"
                     aria-labelledby="Techi-tool">
                     <title id="Techi-tool">Techi-tool</title>
                     <g fill-rule="nonzero" fill="none">
                        <path fill="#005CB9"
                           d="M14 3.312H9.043V18H4.957V3.312H0V0h14zM20.35 3.209V7.41h5.859v3.09h-5.86v4.287H28V18H16V0h12v3.213h-7.65zM41.818 13.25c.096 0 .192.016.289.053.096.036.189.1.277.185L44 15.192a6.721 6.721 0 01-2.66 2.099c-1.066.471-2.328.709-3.779.709-1.334 0-2.532-.23-3.59-.685a7.763 7.763 0 01-2.688-1.885 8.24 8.24 0 01-1.692-2.853c-.394-1.1-.591-2.296-.591-3.585 0-1.313.213-2.518.64-3.622a8.4 8.4 0 011.796-2.844A8.09 8.09 0 0134.209.665C35.286.222 36.472 0 37.766 0c.66 0 1.282.06 1.865.177a9.067 9.067 0 011.632.484 7.451 7.451 0 012.532 1.684L42.42 4.194a1.762 1.762 0 01-.313.31c-.12.093-.29.137-.507.137a.903.903 0 01-.41-.097 4.482 4.482 0 01-.41-.233c-.144-.093-.3-.194-.478-.302a3.651 3.651 0 00-.615-.303 5.083 5.083 0 00-.832-.233 5.686 5.686 0 00-1.117-.097c-.675 0-1.29.125-1.849.375a4.076 4.076 0 00-1.447 1.091c-.406.48-.72 1.068-.94 1.765-.221.697-.33 1.495-.33 2.385 0 .902.12 1.704.37 2.405.245.701.579 1.293 1 1.773.423.48.913.842 1.476 1.091.562.25 1.165.375 1.808.375.37 0 .708-.016 1.013-.052.306-.037.591-.097.856-.182.266-.084.515-.197.748-.338.233-.141.47-.318.711-.536a1.6 1.6 0 01.314-.201.818.818 0 01.35-.077zM62 0v18h-4.277v-7.612h-7.446V18H46V0h4.277v7.525h7.446V0zM81 0v18h-2.214c-.327 0-.604-.05-.822-.157-.222-.102-.444-.28-.662-.535L68.66 6.57a15.276 15.276 0 01.088 1.78V18H65V0h2.239c.184 0 .34.008.465.025a1.125 1.125 0 01.629.284c.093.082.197.194.315.334l8.717 10.812c-.042-.346-.071-.68-.088-1.005a18.01 18.01 0 01-.025-.923V0H81zM89 18h-4V0h4z" />
                        <path fill="#C73828" d="M93 9h6v3h-6z" />
                        <g fill="#005CB9">
                           <path
                              d="M113.442 3.693h-5.1v14.729h-4.205V3.692h-5.1V.373h14.405zM132.934 9.388c0 1.306-.224 2.52-.676 3.644a8.763 8.763 0 01-1.908 2.928c-.82.83-1.811 1.479-2.968 1.95-1.157.47-2.442.706-3.848.706-1.41 0-2.695-.236-3.856-.706-1.161-.471-2.152-1.12-2.981-1.95a8.7 8.7 0 01-1.916-2.928c-.452-1.124-.68-2.338-.68-3.644 0-1.305.224-2.52.68-3.643a8.663 8.663 0 011.916-2.924c.825-.826 1.816-1.474 2.98-1.945 1.162-.471 2.447-.707 3.857-.707 1.41 0 2.69.24 3.848.715 1.157.475 2.148 1.128 2.968 1.95a8.704 8.704 0 011.908 2.924c.452 1.127.676 2.338.676 3.63zm-4.304 0c0-.892-.116-1.693-.349-2.408-.232-.714-.568-1.321-1.003-1.813a4.344 4.344 0 00-1.596-1.14c-.63-.264-1.348-.396-2.152-.396-.813 0-1.539.132-2.173.396a4.307 4.307 0 00-1.605 1.14c-.435.496-.77 1.103-1.003 1.813-.232.715-.348 1.516-.348 2.408 0 .9.116 1.71.348 2.425.232.715.564 1.322 1.003 1.813.436.496.97.876 1.605 1.136.634.26 1.356.393 2.173.393.804 0 1.521-.133 2.152-.393a4.21 4.21 0 001.596-1.136c.435-.495.767-1.098 1.003-1.813.233-.715.349-1.52.349-2.425zM153.197 9.388c0 1.306-.224 2.52-.676 3.644a8.763 8.763 0 01-1.907 2.928c-.821.83-1.812 1.479-2.97 1.95-1.156.47-2.441.706-3.847.706-1.41 0-2.695-.236-3.856-.706-1.161-.471-2.152-1.12-2.981-1.95a8.7 8.7 0 01-1.916-2.928c-.452-1.124-.68-2.338-.68-3.644 0-1.305.224-2.52.68-3.643a8.663 8.663 0 011.916-2.924c.825-.826 1.816-1.474 2.981-1.945 1.161-.471 2.446-.707 3.856-.707 1.41 0 2.691.24 3.848.715s2.148 1.128 2.969 1.95a8.704 8.704 0 011.907 2.924c.452 1.127.676 2.338.676 3.63zm-4.304 0c0-.892-.116-1.693-.348-2.408-.233-.714-.568-1.321-1.004-1.813a4.344 4.344 0 00-1.596-1.14c-.63-.264-1.348-.396-2.152-.396-.813 0-1.538.132-2.173.396a4.307 4.307 0 00-1.604 1.14c-.436.496-.772 1.103-1.004 1.813-.232.715-.348 1.516-.348 2.408 0 .9.116 1.71.348 2.425.232.715.564 1.322 1.004 1.813.435.496.97.876 1.604 1.136.635.26 1.356.393 2.173.393.804 0 1.522-.133 2.152-.393a4.21 4.21 0 001.596-1.136c.436-.495.767-1.098 1.004-1.813.232-.715.348-1.52.348-2.425zM166.594 15.08v3.346h-10.922V.372h4.205V15.08z" />
                        </g>
                     </g>
                  </svg>
               </a>
            </h1>
            <div
               class="text-gray-600 text-base no-underline hover:no-underline font-light tracking-wide hidden lg:inline-block">
               The most soldering solutions
            </div>
         </div>
         <div class="flex lg:hidden pr-4">
            <div class="flex flex-row cursor-pointer truncate p-2 -ml-2 rounded-sm">
               <div class="flex flex-row-reverse ml-2 w-full">
                  <div slot="icon" class="relative">
                     <div
                        class="absolute text-xs rounded-full -mt-2 -mr-2 px-1 font-bold top-0 right-0 bg-blue-900 text-yellow-400">
                        3</div>
                     <svg class="mt-1" width="22" height="22" xmlns="http://www.w3.org/2000/svg">
                        <path
                           d="M7.5 21.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm10.5 0a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm3-17.25H4.365L3.75 1.1A.75.75 0 003 .5H0V2h2.385L5.25 16.4A.75.75 0 006 17h13.5v-1.5H6.615L6 12.5h13.5a.75.75 0 00.75-.585l1.5-6.75A.75.75 0 0021 4.25zM18.9 11H5.715l-1.05-5.25h15.398L18.9 11z"
                           fill="#002554" fill-rule="evenodd" />
                     </svg>
                  </div>
               </div>
            </div>
            <button id="nav-toggle" class="flex items-center px-3 py-2 ml-2 text-gray-600 appearance-none focus:outline"
               (click)="mobileMenu()" [ngClass]="{'bg-gray-100': showMobileMenu}">
               <!-- vertical -->
               <svg width="18" height="18" class="pl-2" xmlns="http://www.w3.org/2000/svg" *ngIf="!showMobileMenu">
                  <defs>
                     <filter id="a">
                        <feColorMatrix in="SourceGraphic"
                           values="0 0 0 0 0.000000 0 0 0 0 0.145098 0 0 0 0 0.329412 0 0 0 1.000000 0" />
                     </filter>
                  </defs>
                  <g transform="translate(-10 -3)" filter="url(#a)" fill="none" fill-rule="evenodd">
                     <path
                        d="M12 6a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm0 7.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm0 7.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
                        fill="#000" />
                  </g>
               </svg>
               <!-- horizontal -->
               <svg width="18" height="18" class="pt-2" xmlns="http://www.w3.org/2000/svg" *ngIf="showMobileMenu">
                  <defs>
                     <filter id="a">
                        <feColorMatrix in="SourceGraphic"
                           values="0 0 0 0 0.000000 0 0 0 0 0.145098 0 0 0 0 0.329412 0 0 0 1.000000 0" />
                     </filter>
                  </defs>
                  <g transform="translate(-3 -10)" filter="url(#a)" fill="none" fill-rule="evenodd">
                     <path
                        d="M18 12a1.5 1.5 0 103 0 1.5 1.5 0 00-3 0zm-7.5 0a1.5 1.5 0 103 0 1.5 1.5 0 00-3 0zM3 12a1.5 1.5 0 103 0 1.5 1.5 0 00-3 0z"
                        fill="#000" />
                  </g>
               </svg>
            </button>
         </div>
         <div class="w-full lg:w-auto flex-grow lg:flex lg:items-center lg:justify-end mt-2 lg:mt-0 z-20"
            id="nav-content" [ngClass]="{'hidden': !showMobileMenu}">
            <a *ngIf="!_windowService.getShowMenu()" (click)="showQuickbuyModal()"
               class="w-full block text-center px-4 py-2 border border-blue-900 text-base font-normal rounded-sm-sm text-blue-900 bg-white hover:bg-blue-900 hover:text-white cursor-pointer">
               Quick Buy
            </a>
            <!-- <button type="text" pButton label="Basic" (click)="op.toggle($event)"></button> -->
            <ul class="list-reset lg:flex justify-end items-center">

               <!--THESE 3 ARE HIDDEN FOR DESKTOP AND APPEAR WHEN MOBILE-->
               <li class="pt-2 lg:py-0 lg:hidden">
                  <a class="inline-block py-1 px-4 text-blue-900 font-bold no-underline" href="#">BRANDS</a>
               </li>
               <li class="py-2 lg:py-0 lg:hidden">
                  <a class="inline-block text-blue-900 no-underline hover:text-gray-900 py-1 px-4 hover:bg-blue-50 hover:text-blue-800"
                     href="#">SERVICES</a>
               </li>
               <li class="py-2 lg:py-0 lg:hidden">
                  <a class="inline-block text-blue-900 no-underline hover:text-gray-900 py-1 px-4 hover:bg-blue-50 hover:text-blue-800"
                     href="#">GOVERNMENT</a>
               </li>
               <!--/THESE 3 ARE HIDDEN FOR DESKTOP AND APPEAR WHEN MOBILE-->

               <li class="py-2 lg:py-0">
                  <a class="inline-block text-gray-600 no-underline text-sm hover:text-gray-900 hover:text-blue-900 hover:underline py-2 px-2 lg:px-4 cursor-pointer"
                     (click)="ca.toggle($event)">Register</a>
               </li>
               <li class="py-2 lg:py-0">
                  <a class="inline-block text-gray-600 no-underline text-sm hover:text-gray-900 hover:text-blue-900 hover:underline py-2 px-2 lg:px-4"
                     href="#">Login</a>
               </li>
            </ul>
            <ul class="list-reset lg:flex justify-end items-center bg-gray-100">
               <li class="py-2 lg:py-0">
                  <a class="inline-block text-gray-600 no-underline text-sm hover:text-gray-900 hover:text-blue-900 hover:underline py-2 px-2 lg:px-4"
                     href="#">Need Help?</a>
               </li>
               <li class="py-2 lg:py-0">
                  <a class="inline-block text-gray-600 no-underline text-sm hover:text-gray-900 hover:text-blue-900 hover:underline py-2 px-2 lg:px-4"
                     href="#">Contact Us</a>
               </li>
               <li class="py-2 lg:py-0">
                  <a title="Call Us"
                     class="inline-block text-blue-900 no-underline text-sm font-semibold hover:text-gray-900 hover:underline py-2 px-2 lg:px-4"
                     href="tel:+18008324866">+1 - 800 - 832 - 4866</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <!--/FIRST NAV LINE-->
   <!-- OVERLAY REGISTRER -->
   <p-overlayPanel #ca [style]="{top: 'unset !important', width: '900px', height:'800px'}">
      <p-scrollPanel [style]="{width: '100%', height: '800px'}">
         <app-create-account></app-create-account>
      </p-scrollPanel>
   </p-overlayPanel>
   <!-- /OVERLAY REGISTRER -->

   <!--SECOND NAV LINE-->
   <div class="container w-full flex flex-wrap mx-auto">
      <!-- show menu in mobile -->
      <div *ngIf="showDropdownMobile"
         class="overflow-y-auto h-screen w-full md: w-auto absolute bg-white z-10 shadow-md">
         <app-list-menu></app-list-menu>
      </div>
      <!--THIS IS THE DROPDOWN-->
      <div class="w-full lg:w-1/5 text-gray-800 leading-normal gray-background-custom-1"
         *ngIf="_windowService.getShowMenu()" (blur)="showDropdown = false">
         <div>
            <button tabindex="0" type="button" [disabled]="router.url == '/'" (click)="showDropdown = !showDropdown"
               class="w-full flex justify-between items-center text-color-blue-brand pl-6 pr-3 py-3 focus:outline-none focus:border-white h-full">
               <span class="font-semibold text-base text-left">ALL PRODUCTS</span>
               <div>
                  <svg *ngIf="router.url != '/'" class="pt-2" width="15" height="24"
                     [ngStyle]="{'transform': showDropdown ? 'rotate(180deg)':'none'}"
                     xmlns="http://www.w3.org/2000/svg">
                     <path d="M7.5 8.55L0 1.05 1.05 0 7.5 6.45 13.95 0 15 1.05z" fill="#778BA3" fill-rule="evenodd" />
                  </svg>
               </div>
            </button>
            <!-- menu in web -->
            <div *ngIf="showDropdown" class="absolute bg-white z-10 shadow-md mt-1">
               <app-list-menu></app-list-menu>
            </div>
         </div>
      </div>
      <!--/END THIS IS THE DROPDOWN-->

      <!--SEARCH 3 LINKS, QUICK BUY, CART-->
      <div class="w-full lg:w-4/5 text-gray-900 leading-normal bg-white">
         <div class="flex-1 w-full py-4 lg:py-1 flex justify-between items-center">
            <div class="flex justify-start content-center w-full lg:w-4/6">

               <!--SEARCH-->
               <div class="relative pl-8 pr-4 mr-4 md:pr-0 w-full lg:w-2/5 w-full clearable-input">
                  <label for="search" class="absolute hidden">Search for a product:</label>
                  <input title="Search for a product" type="text" placeholder="Search" name="search for a product"
                     id="search" [(ngModel)]="searchValue"
                     class="w-full blue-background-custom-1 placeholder-gray-500 text-sm text-gray-800 transition border border-nav-custom-2 focus:outline-none focus:border-blue-500 rounded-sm py-1.5 text-base px-2 pl-4 pr-10 appearance-none leading-normal" />
                  <span class="absolute right-16 md:right-8 top-2.5 px-2" data-clear-input (click)="clearSearch()"
                     *ngIf="searchValue!=''"><img class="manImg" src="../../assets/Images/icon-close.svg" /></span>
                  <button title="search for a product" type="submit"
                     class="absolute search-icon right-8 md:right-4 top-2.5">
                     <svg class="fill-current pointer-events-none text-gray-800 w-4 h-4"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path
                           d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z">
                        </path>
                     </svg>
                  </button>
               </div>


               <!--THESE ARE THE 3 LINKS HIDDEN FOR MOBILE AND AVAILABLE FOR DESKTOP-->
               <ul class="list-reset lg:flex justify-end items-center hidden">
                  <li class="mr-3 pt-2 lg:py-0">
                     <a class="inline-block py-1 px-4 text-blue-900 font-bold no-underline" href="#">BRANDS</a>
                  </li>
                  <li class="mr-3 py-2 lg:py-0">
                     <a class="inline-block text-blue-900 no-underline hover:text-gray-900 py-1 px-4 hover:bg-blue-50 hover:text-blue-800"
                        href="#">SERVICES</a>
                  </li>
                  <li class="mr-3 py-2 lg:py-0">
                     <a class="inline-block text-blue-900 no-underline hover:text-gray-900 py-1 px-4 hover:bg-blue-50 hover:text-blue-800"
                        href="#">GOVERNMENT</a>
                  </li>
               </ul>
               <!--/END THESE ARE THE 3 LINKS HIDDEN FOR MOBILE AND AVAILABLE FOR DESKTOP-->


            </div>

            <!--QUICK BUY -->
            <div class="flex justify-end w-auto" *ngIf="_windowService.getShowMenu()">
               <div class="sm:flex sm:justify-center lg:justify-start">
                  <a (click)="op.toggle($event)"
                     class="w-full block text-center px-4 py-2 border border-blue-900 text-base font-normal rounded-sm-sm text-blue-900 bg-white hover:bg-blue-900 hover:text-white cursor-pointer">
                     Quick Buy
                  </a>
                  <!--CART -->
                  <div class="mt-3 sm:mt-0 mr-3 ml-3 rounded-sm-full hover:bg-blue-50">
                     <div class="flex flex-row cursor-pointer truncate p-2 -ml-2 rounded-sm">
                        <div class="flex flex-row-reverse ml-2 w-full">
                           <a title="Shopping Cart" href="#" slot="icon" class="relative">
                              <div
                                 class="absolute text-xs rounded-full -mt-2 -mr-2 px-1 font-bold top-0 right-0 bg-blue-900 text-yellow-400">
                                 3</div>
                              <svg class="mt-1" width="22" height="22" xmlns="http://www.w3.org/2000/svg">
                                 <path
                                    d="M7.5 21.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm10.5 0a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm3-17.25H4.365L3.75 1.1A.75.75 0 003 .5H0V2h2.385L5.25 16.4A.75.75 0 006 17h13.5v-1.5H6.615L6 12.5h13.5a.75.75 0 00.75-.585l1.5-6.75A.75.75 0 0021 4.25zM18.9 11H5.715l-1.05-5.25h15.398L18.9 11z"
                                    fill="#002554" fill-rule="evenodd" />
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--/END SEARCH 3 LINKS, QUICK BUY, CART-->


   </div>
   <!--/SECOND NAV LINE-->
   <!-- OVERLAY QUICKBUY -->
   <p-overlayPanel #op>
      <app-modal-quickbuy></app-modal-quickbuy>
   </p-overlayPanel>
   <!-- /OVERLAY QUICKBUY -->
</nav>