.clearable-input {
    position: relative;
    display: inline-block;
}
.clearable-input > input {
    padding-right: 1.4em;
}
.clearable-input > [data-clear-input] {
    cursor: pointer;
}
.clearable-input > input::-ms-clear {
    display: none;
}
::ng-deep .p-overlaypanel{
    top:unset !important;
}