<div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
    <div class="bg-white rounded-sm md:max-w-md md:mx-auto fixed inset-x-0 bottom-0 z-50 mb-4 mx-4 md:relative">
        <div class="w-full flex flex-wrap content-start p-4">
            <div clzass="w-full mt-4 md:mt-0 text-center md:text-left">
                <h3 class="w-full my-2 text-xl font-semibold leading-tight text-left text-color-blue-brand">
                    Quick Buy
                </h3>
                <svg class="mb-3" width="20" height="3" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 3V0h20v3z" fill="#C63527" fill-rule="nonzero" />
                </svg>
            </div>
            <div class="flex justify-between mt-4">
                <div class="w-3/4 relative">
                    <label for="Techni-Tool Part Number" class="relative text-sm  text-gray-500 mb-2">Techni-Tool Part
                        Number:</label>
                    <input title="Techni-Tool Part Number" type="text" placeholder="" name="Techni-Tool Part Number"
                        id="part-number"
                        class="w-full blue-background-custom-1 text-sm text-gray-800 transition mt-1 border border-nav-custom-2 focus:outline-none focus:border-blue-500 rounded-sm py-1.5 text-base px-2 pl-4 pr-10 appearance-none leading-normal">
                    <button title="Techni-Tool Part Number" type="submit"
                        class="absolute search-icon right-4 top-8 pt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            class="fill-current pointer-events-none text-gray-800 w-4 h-4">
                            <path
                                d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z">
                            </path>
                        </svg>
                    </button>
                </div>
                <div class="w-1/5">
                    <label for="Quantity" class="relative text-sm  text-gray-500 mb-2">Qty:</label>
                    <input title="Quantity" type="text" placeholder="" name="Quantity" id="Quantity"
                        class="w-full blue-background-custom-1 text-sm text-gray-800 transition mt-1 border border-nav-custom-2 focus:outline-none focus:border-blue-500 rounded-sm py-1.5 text-base px-2 pl-4 pr-10 appearance-none leading-normal">
                </div>
            </div>
            <div class="flex justify-between mt-4">
                <div class="w-3/4 relative">
                    <label for="Techni-Tool Part Number" class="relative text-sm  text-gray-500 mb-2">Techni-Tool Part
                        Number:</label>
                    <input title="Techni-Tool Part Number" type="text" placeholder="" name="Techni-Tool Part Number"
                        id="part-number"
                        class="w-full bg-red-50 text-sm text-gray-800 transition mt-1 border border-red-500 focus:outline-none focus:border-blue-500 rounded-sm py-1.5 text-base px-2 pl-4 pr-10 appearance-none leading-normal">
                    <button title="Techni-Tool Part Number" type="submit"
                        class="absolute search-icon right-4 top-8 pt-2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            class="fill-current pointer-events-none text-gray-800 w-4 h-4">
                            <path
                                d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z">
                            </path>
                        </svg>
                    </button>
                    <span class="text-red-500 text-sm italic mt-3 ng-star-inserted">
                        Product not found
                    </span>
                </div>
                <div class="w-1/5">
                    <label for="Quantity" class="relative text-sm  text-gray-500 mb-2">Qty:</label>
                    <input title="Quantity" type="text" placeholder="" name="Quantity" id="Quantity"
                        class="w-full blue-background-custom-1 text-sm text-gray-800 transition mt-1 border border-nav-custom-2 focus:outline-none focus:border-blue-500 rounded-sm py-1.5 text-base px-2 pl-4 pr-10 appearance-none leading-normal">
                </div>
            </div>



        </div>
        <div class="text-center md:text-right p-4 blue-background-custom-4 md:flex md:justify-end">
            <button
                class="w-full block text-center inline-flex items-center justify-center px-4 py-2 mr-2 border border-blue-900 text-base font-normal rounded-sm text-blue-900 bg-white hover:bg-blue-900 hover:text-white">Bulk
                Order <svg class="custom-svg ml-2" width="12" height="12" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.625 5.375v-5h-1.25v5h-5v1.25h5v5h1.25v-5h5v-1.25z" fill-rule="evenodd" />
                </svg></button>
            <button
                class="flex items-center justify-center w-full ml-2 yellow-bg-custom-1 text-color-blue-brand font-semibold py-2 px-4 rounded-sm"
                type="button">
                Add to Cart
                <svg class="ml-2" width="12" height="12" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.625 5.375v-5h-1.25v5h-5v1.25h5v5h1.25v-5h5v-1.25z" fill="#002554" fill-rule="evenodd" />
                </svg>
            </button>

        </div>
    </div>
</div>