<!--MAIN CONTAINER-->
<main class="container w-full flex flex-wrap mx-auto pt-20" id="main">

    <!--LEFT CONTAINER-->
    <div class="w-full lg:w-1/5 text-gray-800 leading-normal bg-white">

        <!--THESE ARE THE PRODUCTS IN STATIC COLUMN JUST FOR HOME PAGE-->
        <div class="w-full bg-white sticky inset-0 h-auto overflow-x-hidden overflow-y-auto lg:overflow-y-hidden lg:block mt-0 bg-white z-10 hidden"
            style="top:5em;" id="menu-content">
        </div>
        <!--/END THESE ARE THE PRODUCTS IN STATIC COLUMN JUST FOR HOME PAGE-->

    </div>
    <!--/END LEFT CONTAINER-->



    <!--RIGHT CONTAINER-->
    <div id="destination" class="w-full lg:w-4/5 p-8 pt-0 mt-10 text-gray-900 leading-normal">
        <!--Title-->
        <div class="font-sans">
            <h1 class="font-sans break-normal text-gray-900 pt-6 pb-2 ">Test content 2</h1>
            <hr class="border-b border-gray-400">
            <!-- </span></span> -->
        </div>
        <!--CONTENT-->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <!--/END RIGHT CONTAINER-->



</main>
<!--/END MAIN CONTAINER-->