<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>

<div *ngIf="_modalService.modalIsOpen()" (click)="_modalService.resetModals()"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-auto my-6 mx-auto max-w-6xl">
        <!--content-->
        <app-modal-quickbuy *ngIf="_modalService.getOpenQuickBuy()"></app-modal-quickbuy>
    </div>
</div>
<div *ngIf="_modalService.modalIsOpen()" class="opacity-25 fixed inset-0 z-40 bg-black"></div>