<form [formGroup]="formulario">
    <div class="account-set container max-w-5xl mx-auto m-8 pl-4 pr-10">
        <div class="flex flex-col md:flex-row pt-8">
            <!-- Column 1 -->
            <div class="w-1/2 p-6">
                <svg class="relative inline-block" width="24" height="28" xmlns="http://www.w3.org/2000/svg">
                    <g fill="#002554" fill-rule="nonzero">
                        <path
                            d="M22 28H10a2 2 0 01-2-2v-3h2v3h12V2H10v3H8V2a2 2 0 012-2h12a2 2 0 012 2v24a2 2 0 01-2 2z" />
                        <path d="M10.59 18.59L14.17 15H0v-2h14.17l-3.58-3.59L12 8l6 6-6 6z" />
                    </g>
                </svg>
                <div class="flex justify-between w-full relative group">
                    <h3 class="w-auto my-2 text-xl font-semibold leading-tight text-left text-color-blue-brand">
                        Create Your Account
                    </h3>
                    <a href="#"
                        class="text-sm text-gray-400 hover:text-blue-500 flex items-center justify-end w-1/2 px-2">
                        Privacy Policy
                        <div class="w-6 ml-2"><svg _ngcontent-eoo-c48="" width="22" height="22"
                                xmlns="http://www.w3.org/2000/svg">
                                <g _ngcontent-eoo-c48="" fill="#002554" fill-rule="nonzero">
                                    <path _ngcontent-eoo-c48=""
                                        d="M11.75 15.5V8.75h-3v1.5h1.5v5.25H8V17h6v-1.5zM9.875 5.375a1.125 1.125 0 102.25 0 1.125 1.125 0 00-2.25 0z">
                                    </path>
                                    <path _ngcontent-eoo-c48=""
                                        d="M.5 11C.5 5.201 5.201.5 11 .5S21.5 5.201 21.5 11 16.799 21.5 11 21.5.5 16.799.5 11zM11 2a9 9 0 100 18 9 9 0 000-18z">
                                    </path>
                                </g>
                            </svg></div>
                    </a>
                    <div
                        class="absolute top-2 hidden flex flex-col items-center group-hover:flex w-3/4 -right-80 shadow-lg">
                        <div
                            class="relative z-10 p-4 text-sm leading-6 text-gray-700 whitespace-no-wrap bg-blue-50 shadow-sm">
                            TestEquity, LLC is committed to protecting your privacy. Our privacy policy describes
                            how
                            TestEquity processes personal data and your choices regarding use, access, and
                            correction of your
                            personal data.
                            <div class="flex justify-end pb-2 pt-4">
                                <a href="#"
                                    class="text-sm text-blue-900 underline hover:text-blue-500 flex flex-nowrap w-auto">Learn
                                    More
                                </a>
                            </div>
                        </div>
                        <div class="w-3 h-3 mt-2 rotate-45 bg-blue-50 absolute -left-1"></div>
                    </div>
                </div>
                <svg class="mb-3" width="20" height="3" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 3V0h20v3z" fill="#C63527" fill-rule="nonzero" />
                </svg>
                <p class="py-6">Tiam blandit pretium leo, eu facilisis quam commodo in. Sed nec ipsum nisi. Vivamus
                    tincidunt arcu in nisi consequat, sed finibus arcu pulvinar.</p>
                <div class="w-full">
                    <div class="bg-gray-100 rounded-sm mb-6 flex flex-wrap p-6">
                        <div class="w-full flex justify-between items-center">
                            <div class="text-blue-900 text-base font-medium">
                                Are you an existing customer?
                            </div>
                            <div class="flex justify-center items-center">
                                <span class="w-8 text-blue-900 text-base font-normal mr-2 text-right">
                                    <p *ngIf="!toggle">No</p>
                                </span>
                                <div [ngClass]="toggle ? 'bg-green-400' : 'bg-gray-400'"
                                    class="relative rounded-full w-12 h-6 transition duration-200 ease-linear bg-gray-400">
                                    <label for="toggle"
                                        class="absolute left-0 bg-white border-2 mb-2 w-6 h-6 rounded-full transition transform duration-100 ease-linear cursor-pointer translate-x-0 border-gray-400"
                                        [ngClass]="toggle ? 'translate-x-full border-green-400' : 'translate-x-0 border-gray-400'"></label>
                                    <input type="checkbox" id="toggle" name="toggle"
                                        class="appearance-none w-full h-full active:outline-none focus:outline-none"
                                        (click)="toggle=!toggle">
                                </div>
                                <span class="w-8 text-blue-900 text-base font-normal ml-2">
                                    <p *ngIf="toggle">Yes</p>
                                </span>
                            </div>
                        </div>
                        <div *ngIf="toggle" class="w-full mt-6">
                            <div class="text-blue-900 text-base font-medium mb-6">
                                Please provide your account number for quicker registration.
                            </div>
                            <div class="w-full md:flex mb-2">
                                <div class="md:w-full">
                                    <label class="block tracking-wide text-gray-700 text-sm font-semibold mb-2"
                                        for="grid-first-name">
                                        Billing Address
                                    </label>
                                    <div class="relative">
                                        <input formControlName="billingaddress"
                                            class="appearance-none block w-full bg-white text-gray-700 border border-gray-300 rounded-sm py-3 px-4"
                                            id="billing-address" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="text-blue-900 text-base font-medium mb-2">
                                Or
                            </div>
                            <div class="w-full md:flex mb-6">
                                <div class="md:w-full">
                                    <label class="block tracking-wide text-gray-700 text-sm font-semibold mb-2"
                                        for="grid-first-name">
                                        Account Number
                                    </label>
                                    <div class="relative">
                                        <input formControlName="accountnumber"
                                            class="appearance-none block w-full bg-white text-gray-700 border border-gray-300 rounded-sm py-3 px-4"
                                            id="billing-address" type="text" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column 2 -->
            <div class="flex flex-wrap p-6 bg-gray-100 w-1/2">
                <div class="w-full pt-10">
                    <div class="w-full md:flex mb-6">
                        <h4 class="text-color-red-brand text-sm font-medium">
                            PERSONAL DATA
                        </h4>
                    </div>
                    <div class="w-full  md:flex mb-6">
                        <div class="md:w-full">
                            <label class="block tracking-wide text-gray-700 text-sm font-semibold mb-2"
                                for="grid-email">
                                Email <span class="text-sm text-gray-400 italic font-normal">(Required)</span>
                            </label>
                            <div class="relative">
                                <input formControlName="email"
                                    [ngClass]="this.formulario.get('email')?.errors?.email ? 'border-red-500' : 'border-gray-300'"
                                    class="appearance-none block w-full bg-white text-gray-700 border rounded-sm py-3 px-4"
                                    id="grid-email" type="text" placeholder="john.doe@gmail.com">
                            </div>
                            <p *ngIf="this.formulario.get('email')?.errors?.email"
                                class="text-red-500 text-sm italic mt-3">
                                Must be a valid email address.</p>
                        </div>
                    </div>
                    <div class="flex flex-wrap">
                        <div class="w-full">
                            <div class=" md:flex mb-6">
                                <div class="w-full">
                                    <label class="block tracking-wide text-gray-700 text-sm font-semibold mb-2"
                                        for="grid-password">
                                        Password <span
                                            class="text-sm text-gray-400 italic font-normal">(Required)</span>
                                    </label>
                                    <input formControlName="pasword"
                                        class="appearance-none block w-full bg-white text-gray-700 border border-gray-300 rounded-sm py-3 px-4"
                                        id="grid-current-password" type="password" placeholder="***********">
                                </div>
                            </div>
                            <div class=" md:flex mb-6">
                                <div class="w-full">
                                    <label class="block tracking-wide text-gray-700 text-sm font-semibold mb-2"
                                        for="grid-new-password">
                                        Confirm Password <span
                                            class="text-sm text-gray-400 italic font-normal">(Required)</span>
                                    </label>
                                    <input formControlName="paswordconfirm"
                                        class="appearance-none block w-full bg-white text-gray-700 border border-gray-300 rounded-sm py-3 px-4"
                                        id="grid-password" type="password" placeholder="***********">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full  md:flex mb-6">
                        <div class="md:w-full">
                            <label class="block tracking-wide text-gray-700 text-sm font-semibold mb-2"
                                for="grid-first-name">
                                First Name <span class="text-sm text-gray-400 italic font-normal">(Required)</span>
                            </label>
                            <div class="relative">
                                <input formControlName="firstName"
                                    class="appearance-none block w-full bg-white text-gray-700 border border-gray-300 rounded-sm py-3 px-4"
                                    id="grid-first-name" type="text" placeholder="Jhon">
                            </div>
                        </div>
                    </div>
                    <div class="w-full  md:flex mb-6">
                        <div class="md:w-full">
                            <label class="block tracking-wide text-gray-700 text-sm font-semibold mb-2"
                                for="grid-last-name">
                                Last Name <span class="text-sm text-gray-400 italic font-normal">(Required)</span>
                            </label>
                            <div class="relative">
                                <input formControlName="lastName"
                                    class="appearance-none block w-full bg-white text-gray-700 border border-gray-300 rounded-sm py-3 px-4"
                                    id="grid-last-name" type="text" placeholder="Doe">
                            </div>
                        </div>
                    </div>
                    <div class="w-full  md:flex mb-6">
                        <div class="md:w-full">
                            <label class="block tracking-wide text-gray-700 text-sm font-semibold mb-2"
                                for="grid-company-name">
                                Company Name <span class="text-sm text-gray-400 italic font-normal">(Required)</span>
                            </label>
                            <div class="relative">
                                <input formControlName="companyName"
                                    class="appearance-none block w-full bg-white text-gray-700 border border-gray-300 rounded-sm py-3 px-4"
                                    id="grid-company-name" type="text" placeholder="Doe Industries">
                            </div>
                        </div>
                    </div>
                    <div class="w-full  md:flex mb-6">
                        <div class="md:w-full">
                            <label class="block tracking-wide text-gray-700 text-sm font-semibold mb-2" for="grid-city">
                                Phone Number <span class="text-sm text-gray-400 italic font-normal">(Optional)</span>
                            </label>
                            <div class="relative">
                                <input formControlName="phone"
                                    class="appearance-none block w-full bg-white text-gray-700 border border-gray-300 rounded-sm py-3 px-4"
                                    id="phone-number" type="text" placeholder="267-475-2658">
                            </div>
                        </div>
                    </div>
                    <div class="pt-4 flex justify-between items-center border-t border-gray-200 mt-8 w-full">
                        <button
                            class="flex justify-center items-center w-auto text-gray-800 px-4 py-3 focus:outline-none underline hover:text-gray-300">
                            Clear
                        </button>
                        <button
                            class="uppercase font-bold bg-yellow-brand flex justify-center items-center w-full text-white px-4 py-3 rounded-sm focus:outline-none hover:underline">Save
                            My Information</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>