<!--MAIN CONTAINER-->
<main class="container w-full flex flex-wrap mx-auto pt-20" id="main">

    <!--LEFT CONTAINER-->
    <div class="w-full lg:w-1/5 text-gray-800 leading-normal bg-white">

        <!--THESE ARE THE PRODUCTS IN STATIC COLUMN JUST FOR HOME PAGE-->
        <div class="w-full bg-white sticky inset-0 h-auto overflow-x-hidden overflow-y-auto lg:overflow-y-hidden lg:block mt-0 bg-white z-10 hidden"
            style="top:5em;" id="menu-content">
            <app-list-menu></app-list-menu>
        </div>
        <!--/END THESE ARE THE PRODUCTS IN STATIC COLUMN JUST FOR HOME PAGE-->

    </div>
    <!--/END LEFT CONTAINER-->



    <!--RIGHT CONTAINER-->
    <div id="destination" class="w-full lg:w-4/5 p-8 pt-0 mt-10 text-gray-900 leading-normal">
        <!--Title-->
        <div class="font-sans">
            <h1 class="font-sans break-normal text-gray-900 pt-6 pb-2 ">Test content</h1>
            <hr class="border-b border-gray-400">
            <!-- </span></span> -->
        </div>
        <!--CONTENT-->
        <p class="py-6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem magna, volutpat vitae efficitur at,
            lobortis vel sapien. Mauris vitae dui sit amet ex fermentum scelerisque at at quam. Praesent et dignissim
            leo. Aliquam erat volutpat. Mauris nisl nibh, venenatis ornare dui ac, sollicitudin aliquet lorem. Maecenas
            convallis libero in purus ultrices, sit amet congue lorem hendrerit. Class aptent taciti sociosqu ad litora
            torquent per conubia nostra, per inceptos himenaeos. Aenean malesuada finibus lorem. Nulla non sem lacinia,
            pellentesque lacus at, dapibus massa.
            Fusce eget sem feugiat, accumsan eros at, dictum sapien. Donec eleifend sed lacus sed tincidunt. Maecenas
            nulla nisl, lobortis in accumsan dapibus, sollicitudin vitae metus. Duis quis leo diam. Nam eget nulla quis
            nulla faucibus placerat sit amet vitae mauris. Curabitur blandit, sapien faucibus molestie blandit, orci
            dolor sollicitudin dolor, ut auctor felis quam tempus orci. Nam hendrerit ligula eu mauris tincidunt
            facilisis. Vestibulum egestas, dui quis pellentesque sodales, ex turpis viverra neque, id lobortis leo lorem
            id libero. Aenean vel fringilla lorem. Aenean molestie augue nec volutpat suscipit. Nulla viverra ut libero
            id auctor.
            Mauris non euismod nulla, sit amet tincidunt tellus. Nullam aliquet vel libero non fermentum. Pellentesque
            luctus, lorem vitae faucibus pretium, quam augue gravida turpis, a tempor tellus magna id libero. Aliquam
            tellus nisl, commodo non leo quis, interdum cursus justo. Proin non ipsum consequat dolor tincidunt mattis
            tincidunt ac sem. Pellentesque non odio sagittis, euismod justo sed, elementum massa. Suspendisse non congue
            enim. Ut bibendum convallis nibh, vitae pretium lacus ultricies a. Aenean in ipsum massa. Curabitur eget
            efficitur lacus, quis vestibulum quam. Suspendisse eget nibh ac sapien sagittis rutrum vitae ac augue. Donec
            orci velit, vehicula ut accumsan et, lacinia quis quam. Donec quis tincidunt dui. Cras sollicitudin rutrum
            sem. Cras a tincidunt nibh. Proin in ultrices felis.
        </p>
        <p class="py-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem magna, volutpat vitae
            efficitur at, lobortis vel sapien. Mauris vitae dui sit amet ex fermentum scelerisque at at quam. Praesent
            et dignissim leo. Aliquam erat volutpat. Mauris nisl nibh, venenatis ornare dui ac, sollicitudin aliquet
            lorem. Maecenas convallis libero in purus ultrices, sit amet congue lorem hendrerit. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean malesuada finibus lorem.
            Nulla non sem lacinia, pellentesque lacus at, dapibus massa.
            Fusce eget sem feugiat, accumsan eros at, dictum sapien. Donec eleifend sed lacus sed tincidunt. Maecenas
            nulla nisl, lobortis in accumsan dapibus, sollicitudin vitae metus. Duis quis leo diam. Nam eget nulla quis
            nulla faucibus placerat sit amet vitae mauris. Curabitur blandit, sapien faucibus molestie blandit, orci
            dolor sollicitudin dolor, ut auctor felis quam tempus orci. Nam hendrerit ligula eu mauris tincidunt
            facilisis. Vestibulum egestas, dui quis pellentesque sodales, ex turpis viverra neque, id lobortis leo lorem
            id libero. Aenean vel fringilla lorem. Aenean molestie augue nec volutpat suscipit. Nulla viverra ut libero
            id auctor.
            Mauris non euismod nulla, sit amet tincidunt tellus. Nullam aliquet vel libero non fermentum. Pellentesque
            luctus, lorem vitae faucibus pretium, quam augue gravida turpis, a tempor tellus magna id libero. Aliquam
            tellus nisl, commodo non leo quis, interdum cursus justo. Proin non ipsum consequat dolor tincidunt mattis
            tincidunt ac sem. Pellentesque non odio sagittis, euismod justo sed, elementum massa. Suspendisse non congue
            enim. Ut bibendum convallis nibh, vitae pretium lacus ultricies a. Aenean in ipsum massa. Curabitur eget
            efficitur lacus, quis vestibulum quam. Suspendisse eget nibh ac sapien sagittis rutrum vitae ac augue. Donec
            orci velit, vehicula ut accumsan et, lacinia quis quam. Donec quis tincidunt dui. Cras sollicitudin rutrum
            sem. Cras a tincidunt nibh. Proin in ultrices felis.
        </p>
        <p class="py-6">Sed dignissim lectus ut tincidunt vulputate. Fusce tincidunt lacus purus, in mattis tortor
            sollicitudin pretium. Phasellus at diam posuere, scelerisque nisl sit amet, tincidunt urna. Cras nisi diam,
            pulvinar ut molestie eget, eleifend ac magna. Sed at lorem condimentum, dignissim lorem eu, blandit massa.
            Phasellus eleifend turpis vel erat bibendum scelerisque. Maecenas id risus dictum, rhoncus odio vitae,
            maximus purus. Etiam efficitur dolor in dolor molestie ornare. Aenean pulvinar diam nec neque tincidunt,
            vitae molestie quam fermentum. Donec ac pretium diam. Suspendisse sed odio risus. Nunc nec luctus nisi.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis nec nulla
            eget sem dictum elementum.</p>
        <p class="py-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem magna, volutpat vitae
            efficitur at, lobortis vel sapien. Mauris vitae dui sit amet ex fermentum scelerisque at at quam. Praesent
            et dignissim leo. Aliquam erat volutpat. Mauris nisl nibh, venenatis ornare dui ac, sollicitudin aliquet
            lorem. Maecenas convallis libero in purus ultrices, sit amet congue lorem hendrerit. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean malesuada finibus lorem.
            Nulla non sem lacinia, pellentesque lacus at, dapibus massa.
            Fusce eget sem feugiat, accumsan eros at, dictum sapien. Donec eleifend sed lacus sed tincidunt. Maecenas
            nulla nisl, lobortis in accumsan dapibus, sollicitudin vitae metus. Duis quis leo diam. Nam eget nulla quis
            nulla faucibus placerat sit amet vitae mauris. Curabitur blandit, sapien faucibus molestie blandit, orci
            dolor sollicitudin dolor, ut auctor felis quam tempus orci. Nam hendrerit ligula eu mauris tincidunt
            facilisis. Vestibulum egestas, dui quis pellentesque sodales, ex turpis viverra neque, id lobortis leo lorem
            id libero. Aenean vel fringilla lorem. Aenean molestie augue nec volutpat suscipit. Nulla viverra ut libero
            id auctor.
            Mauris non euismod nulla, sit amet tincidunt tellus. Nullam aliquet vel libero non fermentum. Pellentesque
            luctus, lorem vitae faucibus pretium, quam augue gravida turpis, a tempor tellus magna id libero. Aliquam
            tellus nisl, commodo non leo quis, interdum cursus justo. Proin non ipsum consequat dolor tincidunt mattis
            tincidunt ac sem. Pellentesque non odio sagittis, euismod justo sed, elementum massa. Suspendisse non congue
            enim. Ut bibendum convallis nibh, vitae pretium lacus ultricies a. Aenean in ipsum massa. Curabitur eget
            efficitur lacus, quis vestibulum quam. Suspendisse eget nibh ac sapien sagittis rutrum vitae ac augue. Donec
            orci velit, vehicula ut accumsan et, lacinia quis quam. Donec quis tincidunt dui. Cras sollicitudin rutrum
            sem. Cras a tincidunt nibh. Proin in ultrices felis.
        </p>
        <p class="py-6">Sed dignissim lectus ut tincidunt vulputate. Fusce tincidunt lacus purus, in mattis tortor
            sollicitudin pretium. Phasellus at diam posuere, scelerisque nisl sit amet, tincidunt urna. Cras nisi diam,
            pulvinar ut molestie eget, eleifend ac magna. Sed at lorem condimentum, dignissim lorem eu, blandit massa.
            Phasellus eleifend turpis vel erat bibendum scelerisque. Maecenas id risus dictum, rhoncus odio vitae,
            maximus purus. Etiam efficitur dolor in dolor molestie ornare. Aenean pulvinar diam nec neque tincidunt,
            vitae molestie quam fermentum. Donec ac pretium diam. Suspendisse sed odio risus. Nunc nec luctus nisi.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis nec nulla
            eget sem dictum elementum.</p>
        <p class="py-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem magna, volutpat vitae
            efficitur at, lobortis vel sapien. Mauris vitae dui sit amet ex fermentum scelerisque at at quam. Praesent
            et dignissim leo. Aliquam erat volutpat. Mauris nisl nibh, venenatis ornare dui ac, sollicitudin aliquet
            lorem. Maecenas convallis libero in purus ultrices, sit amet congue lorem hendrerit. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean malesuada finibus lorem.
            Nulla non sem lacinia, pellentesque lacus at, dapibus massa.
            Fusce eget sem feugiat, accumsan eros at, dictum sapien. Donec eleifend sed lacus sed tincidunt. Maecenas
            nulla nisl, lobortis in accumsan dapibus, sollicitudin vitae metus. Duis quis leo diam. Nam eget nulla quis
            nulla faucibus placerat sit amet vitae mauris. Curabitur blandit, sapien faucibus molestie blandit, orci
            dolor sollicitudin dolor, ut auctor felis quam tempus orci. Nam hendrerit ligula eu mauris tincidunt
            facilisis. Vestibulum egestas, dui quis pellentesque sodales, ex turpis viverra neque, id lobortis leo lorem
            id libero. Aenean vel fringilla lorem. Aenean molestie augue nec volutpat suscipit. Nulla viverra ut libero
            id auctor.
            Mauris non euismod nulla, sit amet tincidunt tellus. Nullam aliquet vel libero non fermentum. Pellentesque
            luctus, lorem vitae faucibus pretium, quam augue gravida turpis, a tempor tellus magna id libero. Aliquam
            tellus nisl, commodo non leo quis, interdum cursus justo. Proin non ipsum consequat dolor tincidunt mattis
            tincidunt ac sem. Pellentesque non odio sagittis, euismod justo sed, elementum massa. Suspendisse non congue
            enim. Ut bibendum convallis nibh, vitae pretium lacus ultricies a. Aenean in ipsum massa. Curabitur eget
            efficitur lacus, quis vestibulum quam. Suspendisse eget nibh ac sapien sagittis rutrum vitae ac augue. Donec
            orci velit, vehicula ut accumsan et, lacinia quis quam. Donec quis tincidunt dui. Cras sollicitudin rutrum
            sem. Cras a tincidunt nibh. Proin in ultrices felis.
        </p>
        <p class="py-6">Sed dignissim lectus ut tincidunt vulputate. Fusce tincidunt lacus purus, in mattis tortor
            sollicitudin pretium. Phasellus at diam posuere, scelerisque nisl sit amet, tincidunt urna. Cras nisi diam,
            pulvinar ut molestie eget, eleifend ac magna. Sed at lorem condimentum, dignissim lorem eu, blandit massa.
            Phasellus eleifend turpis vel erat bibendum scelerisque. Maecenas id risus dictum, rhoncus odio vitae,
            maximus purus. Etiam efficitur dolor in dolor molestie ornare. Aenean pulvinar diam nec neque tincidunt,
            vitae molestie quam fermentum. Donec ac pretium diam. Suspendisse sed odio risus. Nunc nec luctus nisi.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis nec nulla
            eget sem dictum elementum.</p>
    </div>
    <!--/END RIGHT CONTAINER-->



</main>
<!--/END MAIN CONTAINER-->