<!--MAIN CONTAINER-->
<main class="container w-full flex flex-wrap mx-auto pt-20" id="main">

    <!--LEFT CONTAINER-->
    <div class="w-full lg:w-1/5 text-gray-800 leading-normal bg-white">

        <!--THESE ARE THE PRODUCTS IN STATIC COLUMN JUST FOR HOME PAGE-->
        <div class="w-full bg-white sticky inset-0 h-auto overflow-x-hidden overflow-y-auto lg:overflow-y-hidden lg:block mt-0 bg-white z-10 hidden"
            style="top:5em;" id="menu-content">
        </div>
        <!--/END THESE ARE THE PRODUCTS IN STATIC COLUMN JUST FOR HOME PAGE-->

    </div>
    <!--/END LEFT CONTAINER-->



    <!--RIGHT CONTAINER-->
    <div id="destination" class="w-full lg:w-4/5 p-8 pt-0 mt-10 text-gray-900 leading-normal">
        <!--Title-->
        <div class="font-sans">
            <h1 class="font-sans break-normal text-gray-900 pt-6 pb-2 ">Forms</h1>
            <hr class="border-b border-gray-400">
            <!-- </span></span> -->
        </div>
        <!--CONTENT-->
        <div class="account-set container max-w-5xl mx-auto m-8 px-4">
            <h1 class="w-full my-2 text-2xl font-semibold leading-tight text-left text-gray-800">Account Settings</h1>
            <form [formGroup]="formulario">
                <div class="flex flex-wrap px-2">
                    <div class="w-full pt-4">
                        <!-- email -->
                        <div class="w-full sm:w-1/2 -mx-3 md:flex mb-6">
                            <div class="md:w-full px-3">
                                <label class="block tracking-wide text-gray-700 text-sm font-semibold mb-2"
                                    for="grid-email">
                                    Email
                                </label>
                                <div class="relative">
                                    <input formControlName="email"
                                        [ngClass]="this.formulario.get('email').disabled? 'bg-gray-200' : 'bg-white'"
                                        [ngClass]="{'border-red-500': this.formulario.get('email')?.errors?.email}"
                                        class="appearance-none block w-full text-gray-700 border border-gray-300 rounded-sm py-3 px-4"
                                        id="grid-email" type="text" placeholder="john.doe@gmail.com">
                                    <button type="button" (click)="habilitarCampos('email')"
                                        class="absolute inset-y-0 right-2 flex items-center px-2 text-gray-700">
                                        <svg width="22" height="21" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M.5 19.25h21v1.5H.5v-1.5zm17.558-13.5a1.5 1.5 0 000-2.123L15.372.942a1.5 1.5 0 00-2.122 0L2 12.192V17h4.808l11.25-11.25zM14.308 2L17 4.692l-2.25 2.25-2.692-2.692L14.308 2zM3.5 15.5v-2.692l7.5-7.5L13.692 8l-7.5 7.5H3.5z"
                                                fill-rule="evenodd" />
                                        </svg>
                                    </button>
                                </div>
                                <p *ngIf="this.formulario.get('email')?.errors?.email"
                                    class="text-red-500 text-sm italic mt-3">Must be a valid email address.</p>
                            </div>
                        </div>
                        <!-- password -->
                        <div class="w-full sm:w-1/2 -mx-3 md:flex mb-6">
                            <div class="relative md:w-full px-3">
                                <h3 class="block tracking-wide text-gray-700 text-sm font-bold mb-2">
                                    Change Password
                                </h3>
                                <button type="button" (click)="openEditPass=!openEditPass"
                                    class="absolute inset-y-0 right-5 flex items-center px-2 text-gray-700">
                                    <svg width="22" height="21" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M.5 19.25h21v1.5H.5v-1.5zm17.558-13.5a1.5 1.5 0 000-2.123L15.372.942a1.5 1.5 0 00-2.122 0L2 12.192V17h4.808l11.25-11.25zM14.308 2L17 4.692l-2.25 2.25-2.692-2.692L14.308 2zM3.5 15.5v-2.692l7.5-7.5L13.692 8l-7.5 7.5H3.5z"
                                            fill-rule="evenodd" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <!-- password-edit -->
                        <div *ngIf="openEditPass" class="bg-gray-100 rounded-sm p-3 mb-6 flex flex-wrap">
                            <div class="w-full sm:w-1/2 pr-6">
                               <div class="-mx-3 md:flex mb-6">
                                  <div class="w-full px-3">
                                     <label class="block tracking-wide text-gray-700 text-sm font-semibold mb-2"
                                        for="grid-password">
                                     Current Password
                                     </label>
                                     <input
                                        class="appearance-none block w-full bg-white text-gray-700 border border-gray-300 rounded-sm py-3 px-4"
                                        id="grid-current-password" type="password" placeholder="***********">
                                  </div>
                               </div>
                               <div class="-mx-3 md:flex mb-6">
                                  <div class="w-full px-3">
                                     <label class="block tracking-wide text-gray-700 text-sm font-semibold mb-2"
                                        for="grid-new-password">
                                     New Password
                                     </label>
                                     <input
                                        class="appearance-none block w-full bg-white text-gray-700 border border-gray-300 rounded-sm py-3 px-4"
                                        id="grid-password" type="password" placeholder="***********">
                                  </div>
                               </div>
                               <div class="-mx-3 md:flex">
                                  <div class="w-full px-3">
                                     <label class="block tracking-wide text-gray-700 text-sm font-semibold mb-2"
                                        for="grid-confrim-password">
                                     Confirm Password
                                     </label>
                                     <input
                                        class="appearance-none block w-full bg-white text-gray-700 border border-gray-300 rounded-sm py-3 px-4"
                                        id="grid-password" type="password" placeholder="***********">
                                  </div>
                               </div>
                            </div>
                            <div class="w-full sm:w-1/2">
                               <div class="flex justify-left mt-3">
                                  <ul>
                                     <li class="flex items-center py-2">
                                        <svg width="14" height="11" xmlns="http://www.w3.org/2000/svg">
                                           <path d="M5 10.5l-5-5L1.59 4 5 7.35 12.41 0 14 1.58z" fill="#2D8900" fill-rule="evenodd"/>
                                        </svg>
                                        <span class="text-gray-700 text-base ml-3">Password must be at least 8 characters long</span>
                                     </li>
                                     <li class="flex items-center py-2">
                                        <svg width="14" height="11" xmlns="http://www.w3.org/2000/svg">
                                           <path d="M5 10.5l-5-5L1.59 4 5 7.35 12.41 0 14 1.58z" fill="#2D8900" fill-rule="evenodd"/>
                                        </svg>
                                        <span class="text-gray-700 text-base ml-3">Password must include at least one number
                                        </span>
                                     </li>
                                     <li class="flex items-center py-2">
                                        <svg width="14" height="11" xmlns="http://www.w3.org/2000/svg">
                                           <path d="M5 10.5l-5-5L1.59 4 5 7.35 12.41 0 14 1.58z" fill="#2D8900" fill-rule="evenodd"/>
                                        </svg>
                                        <span class="text-gray-700 text-base ml-3">Password must include at least one uppercase character
                                        </span>
                                     </li>
                                     <li class="flex items-center py-2">
                                        <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg">
                                           <path d="M12 1.05L10.95 0 6 4.95 1.05 0 0 1.05 4.95 6 0 10.95 1.05 12 6 7.05 10.95 12 12 10.95 7.05 6z" fill="#7C878E" fill-rule="evenodd"/>
                                        </svg>
                                        <span class="text-gray-500 text-base ml-3">Password must include at least one lowercase character</span>
                                     </li>
                                  </ul>
                               </div>
                            </div>
                         </div>
                        <!-- First name -->
                        <div class="w-full sm:w-1/2 -mx-3 md:flex mb-6">
                            <div class="md:w-full px-3">
                                <label class="block tracking-wide text-gray-700 text-sm font-semibold mb-2"
                                    for="grid-first-name">
                                    First Name
                                </label>
                                <div class="relative">
                                    <input formControlName="firstName"
                                        [ngClass]="this.formulario.get('firstName').disabled? 'bg-gray-200' : 'bg-white'"
                                        class="appearance-none block w-full text-gray-700 border border-gray-300 rounded-sm py-3 px-4"
                                        id="grid-first-name" type="text" placeholder="Jhon">
                                    <button type="button" (click)="habilitarCampos('firstName')"
                                        class="absolute inset-y-0 right-2 flex items-center px-2 text-gray-700">
                                        <svg width="22" height="21" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M.5 19.25h21v1.5H.5v-1.5zm17.558-13.5a1.5 1.5 0 000-2.123L15.372.942a1.5 1.5 0 00-2.122 0L2 12.192V17h4.808l11.25-11.25zM14.308 2L17 4.692l-2.25 2.25-2.692-2.692L14.308 2zM3.5 15.5v-2.692l7.5-7.5L13.692 8l-7.5 7.5H3.5z"
                                                fill-rule="evenodd" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Last name  -->
                        <div class="w-full sm:w-1/2 -mx-3 md:flex mb-6">
                            <div class="md:w-full px-3">
                                <label class="block tracking-wide text-gray-700 text-sm font-semibold mb-2"
                                    for="grid-last-name">
                                    Last Name
                                </label>
                                <div class="relative">
                                    <input formControlName="lastName"
                                        [ngClass]="this.formulario.get('lastName').disabled? 'bg-gray-200' : 'bg-white'"
                                        class="appearance-none block w-full text-gray-700 border border-gray-300 rounded-sm py-3 px-4"
                                        id="grid-last-name" type="text" placeholder="Doe">
                                    <button type="button" (click)="habilitarCampos('lastName')"
                                        class="absolute inset-y-0 right-2 flex items-center px-2 text-gray-700">
                                        <svg width="22" height="21" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M.5 19.25h21v1.5H.5v-1.5zm17.558-13.5a1.5 1.5 0 000-2.123L15.372.942a1.5 1.5 0 00-2.122 0L2 12.192V17h4.808l11.25-11.25zM14.308 2L17 4.692l-2.25 2.25-2.692-2.692L14.308 2zM3.5 15.5v-2.692l7.5-7.5L13.692 8l-7.5 7.5H3.5z"
                                                fill-rule="evenodd" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Company  -->
                        <div class="w-full sm:w-1/2 -mx-3 md:flex mb-6">
                            <div class="md:w-full px-3">
                                <label class="block tracking-wide text-gray-700 text-sm font-semibold mb-2"
                                    for="grid-company-name">
                                    Company Name
                                </label>
                                <div class="relative">
                                    <input formControlName="companyName"
                                        [ngClass]="this.formulario.get('companyName').disabled? 'bg-gray-200' : 'bg-white'"
                                        class="appearance-none block w-full text-gray-700 border border-gray-300 rounded-sm py-3 px-4"
                                        id="grid-company-name" type="text" placeholder="Doe Industries">
                                    <button type="button" (click)="habilitarCampos('companyName')"
                                        class="absolute inset-y-0 right-2 flex items-center px-2 text-gray-700">
                                        <svg width="22" height="21" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M.5 19.25h21v1.5H.5v-1.5zm17.558-13.5a1.5 1.5 0 000-2.123L15.372.942a1.5 1.5 0 00-2.122 0L2 12.192V17h4.808l11.25-11.25zM14.308 2L17 4.692l-2.25 2.25-2.692-2.692L14.308 2zM3.5 15.5v-2.692l7.5-7.5L13.692 8l-7.5 7.5H3.5z"
                                                fill-rule="evenodd" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Phone -->
                        <div class="w-full sm:w-1/2 -mx-3 md:flex mb-2">
                            <div class="md:w-3/4 px-3 mb-6 md:mb-0">
                                <label class="block tracking-wide text-gray-700 text-sm font-semibold mb-2"
                                    for="grid-city">
                                    Phone Number
                                </label>
                                <div class="relative">
                                    <input formControlName="phone"
                                        [ngClass]="this.formulario.get('phone').disabled? 'bg-gray-200' : 'bg-white'"
                                        class="appearance-none block w-full text-gray-700 border border-gray-300 rounded-sm py-3 px-4"
                                        id="phone-number" type="text" placeholder="267-475-2658">
                                    <button type="button" (click)="habilitarCampos('phone')"
                                        class="absolute inset-y-0 right-2 flex items-center px-2 text-gray-700">
                                        <svg width="22" height="21" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M.5 19.25h21v1.5H.5v-1.5zm17.558-13.5a1.5 1.5 0 000-2.123L15.372.942a1.5 1.5 0 00-2.122 0L2 12.192V17h4.808l11.25-11.25zM14.308 2L17 4.692l-2.25 2.25-2.692-2.692L14.308 2zM3.5 15.5v-2.692l7.5-7.5L13.692 8l-7.5 7.5H3.5z"
                                                fill-rule="evenodd" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="md:w-2/5 px-3">
                                <label class="block tracking-wide text-gray-700 text-sm font-semibold mb-2"
                                    for="grid-zip">
                                    Ext.
                                </label>
                                <div class="relative">
                                    <input formControlName="ext"
                                        [ngClass]="this.formulario.get('ext').disabled? 'bg-gray-200' : 'bg-white'"
                                        class="appearance-none block w-full text-gray-700 border border-gray-300 rounded-sm py-3 px-4"
                                        id="grid-extention" type="text" placeholder="">
                                    <button type="button" (click)="habilitarCampos('ext')"
                                        class="absolute inset-y-0 right-2 flex items-center px-2 text-gray-700">
                                        <svg width="22" height="21" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M.5 19.25h21v1.5H.5v-1.5zm17.558-13.5a1.5 1.5 0 000-2.123L15.372.942a1.5 1.5 0 00-2.122 0L2 12.192V17h4.808l11.25-11.25zM14.308 2L17 4.692l-2.25 2.25-2.692-2.692L14.308 2zM3.5 15.5v-2.692l7.5-7.5L13.692 8l-7.5 7.5H3.5z"
                                                fill-rule="evenodd" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- dropdowns -->
                        <h2
                            class="uppercase w-full sm:w-1/2 text-base font-normal leading-tight text-left text-blue-500 pb-2 mb-6 mt-10 border-b border-gray-200">
                            Default billing and shipping</h2>
                        <div class="w-full sm:w-1/2 -mx-3 md:flex mb-6">
                            <div class="md:w-full px-3">
                                <label class="block tracking-wide text-gray-700 text-sm font-semibold mb-2"
                                    for="grid-first-name">
                                    Select Bill To
                                </label>
                                <div class="relative">
                                    <div class="relative">
                                        <button (click)="dropdown1=!dropdown1"  (blur)="dropdown1=false"
                                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-300 rounded-sm py-3 px-4 text-left"
                                            type="button">
                                            <span class="mr-1">328 Dawson St. Philadelphia, PA 19128</span>
                                            <div
                                                class="absolute inset-y-0 right-2 flex items-center px-2 text-gray-700">
                                                <svg width="10" height="6" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M5 6L0 1 .7.3 5 4.6 9.3.3l.7.7z" fill="#525252"
                                                        fill-rule="evenodd" />
                                                </svg>
                                            </div>
                                        </button>
                                        <ul *ngIf="dropdown1" 
                                            class="w-auto bg-white text-gray-700 rounded shadow-lg absolute py-2 mt-1 z-10">
                                            <li>
                                                <a href="#"
                                                    class="block hover:bg-gray-200 hover:text-blue-500 whitespace-no-wrap py-2 px-4">
                                                    328 Dawson St. Philadelphia, PA 19128
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    class="block hover:bg-gray-200 hover:text-blue-500 whitespace-no-wrap py-2 px-4">
                                                    500 Walton St. Miami, FL 13456
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    class="block hover:bg-gray-200 hover:text-blue-500 whitespace-no-wrap py-2 px-4">
                                                    Chaussée de La Hulpe 268, 1170 Brussels
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-full sm:w-1/2 -mx-3 md:flex mb-6">
                            <div class="md:w-full px-3">
                                <label class="block tracking-wide text-gray-700 text-sm font-semibold mb-2"
                                    for="grid-first-name">
                                    Select Ship To
                                </label>
                                <div class="relative">
                                    <div class="relative">
                                        <button (click)="dropdown2 = !dropdown2" (blur)="dropdown2=false"
                                            class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-300 rounded-sm py-3 px-4 text-left"
                                            type="button">
                                            <span class="mr-1">Use billing address</span>
                                            <div
                                                class="absolute inset-y-0 right-2 flex items-center px-2 text-gray-700">
                                                <svg width="10" height="6" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M5 6L0 1 .7.3 5 4.6 9.3.3l.7.7z" fill="#525252"
                                                        fill-rule="evenodd" />
                                                </svg>
                                            </div>
                                        </button>
                                        <ul *ngIf="dropdown2"  
                                            class="w-auto bg-white text-gray-700 rounded shadow-lg absolute py-2 mt-1 z-10">
                                            <li>
                                                <a href="#"
                                                    class="block hover:bg-gray-200 hover:text-blue-500 whitespace-no-wrap py-2 px-4 font-bold">
                                                    Use billing address
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    class="block hover:bg-gray-200 hover:text-blue-500 whitespace-no-wrap py-2 px-4">
                                                    328 Dawson St. Philadelphia, PA 19128
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    class="block hover:bg-gray-200 hover:text-blue-500 whitespace-no-wrap py-2 px-4">
                                                    500 Walton St. Miami, FL 13456
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    class="block hover:bg-gray-200 hover:text-blue-500 whitespace-no-wrap py-2 px-4">
                                                    Chaussée de La Hulpe 268, 1170 Brussels
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- buttons -->
                        <div class="pt-4 flex items-center border-t border-gray-200 mt-8 w-full sm:w-1/2">
                            <button
                                class="flex justify-center items-center w-full text-gray-800 px-4 py-3 focus:outline-none underline hover:text-gray-300">
                                Cancel
                            </button>
                            <button
                                class="uppercase font-bold bg-yellow-brand flex justify-center items-center w-full text-white px-4 py-3 rounded-full focus:outline-none hover:underline">Save
                                my Information</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--/END RIGHT CONTAINER-->



</main>
<!--/END MAIN CONTAINER-->