<footer class="blue-background-custom-3 text-blue-custom-3">
   <div class="container w-full flex flex-wrap mx-auto px-8">
      <div class="w-full relative">
         <button title="Go to the top of the page" (click)="scrollToElement()"
            class="absolute right-0 -bottom-4 inline-flex items-center justify-center w-10 h-10 mr-2 text-indigo-100 yellow-bg-custom-1 rounded-full focus:shadow-outline hover:bg-opacity-70">
            <svg class="w-4 h-4 text-color-blue-brand pt-1 hover:text-white" xmlns="http://www.w3.org/2000/svg">
               <path d="M7.5 0L15 7.5l-1.05 1.05L7.5 2.1 1.05 8.55 0 7.5z" fill-rule="evenodd" />
            </svg>
         </button>
      </div>
      <div class="flex items-center w-full pt-16 pb-6 mb-6 border-b border-custom-3">
         <svg width="167" height="19" xmlns="http://www.w3.org/2000/svg">
            <g fill="#FFF" fill-rule="nonzero">
               <path
                  d="M14 3.312H9.043V18H4.957V3.312H0V0h14zM20.35 3.209V7.41h5.859v3.09h-5.86v4.287H28V18H16V0h12v3.213h-7.65zM41.818 13.25c.096 0 .192.016.289.053.096.036.189.1.277.185L44 15.192a6.721 6.721 0 01-2.66 2.099c-1.066.471-2.328.709-3.779.709-1.334 0-2.532-.23-3.59-.685a7.763 7.763 0 01-2.688-1.885 8.24 8.24 0 01-1.692-2.853c-.394-1.1-.591-2.296-.591-3.585 0-1.313.213-2.518.64-3.622a8.4 8.4 0 011.796-2.844A8.09 8.09 0 0134.209.665C35.286.222 36.472 0 37.766 0c.66 0 1.282.06 1.865.177a9.067 9.067 0 011.632.484 7.451 7.451 0 012.532 1.684L42.42 4.194a1.762 1.762 0 01-.313.31c-.12.093-.29.137-.507.137a.903.903 0 01-.41-.097 4.482 4.482 0 01-.41-.233c-.144-.093-.3-.194-.478-.302a3.651 3.651 0 00-.615-.303 5.083 5.083 0 00-.832-.233 5.686 5.686 0 00-1.117-.097c-.675 0-1.29.125-1.849.375a4.076 4.076 0 00-1.447 1.091c-.406.48-.72 1.068-.94 1.765-.221.697-.33 1.495-.33 2.385 0 .902.12 1.704.37 2.405.245.701.579 1.293 1 1.773.423.48.913.842 1.476 1.091.562.25 1.165.375 1.808.375.37 0 .708-.016 1.013-.052.306-.037.591-.097.856-.182.266-.084.515-.197.748-.338.233-.141.47-.318.711-.536a1.6 1.6 0 01.314-.201.818.818 0 01.35-.077zM62 0v18h-4.277v-7.612h-7.446V18H46V0h4.277v7.525h7.446V0zM81 0v18h-2.214c-.327 0-.604-.05-.822-.157-.222-.102-.444-.28-.662-.535L68.66 6.57a15.276 15.276 0 01.088 1.78V18H65V0h2.239c.184 0 .34.008.465.025a1.125 1.125 0 01.629.284c.093.082.197.194.315.334l8.717 10.812c-.042-.346-.071-.68-.088-1.005a18.01 18.01 0 01-.025-.923V0H81zM89 18h-4V0h4zM93 9h6v3h-6zM113.442 3.693h-5.1v14.729h-4.205V3.692h-5.1V.373h14.405zM132.934 9.388c0 1.306-.224 2.52-.676 3.644a8.763 8.763 0 01-1.908 2.928c-.82.83-1.811 1.479-2.968 1.95-1.157.47-2.442.706-3.848.706-1.41 0-2.695-.236-3.856-.706-1.161-.471-2.152-1.12-2.981-1.95a8.7 8.7 0 01-1.916-2.928c-.452-1.124-.68-2.338-.68-3.644 0-1.305.224-2.52.68-3.643a8.663 8.663 0 011.916-2.924c.825-.826 1.816-1.474 2.98-1.945 1.162-.471 2.447-.707 3.857-.707 1.41 0 2.69.24 3.848.715 1.157.475 2.148 1.128 2.968 1.95a8.704 8.704 0 011.908 2.924c.452 1.127.676 2.338.676 3.63zm-4.304 0c0-.892-.116-1.693-.349-2.408-.232-.714-.568-1.321-1.003-1.813a4.344 4.344 0 00-1.596-1.14c-.63-.264-1.348-.396-2.152-.396-.813 0-1.539.132-2.173.396a4.307 4.307 0 00-1.605 1.14c-.435.496-.77 1.103-1.003 1.813-.232.715-.348 1.516-.348 2.408 0 .9.116 1.71.348 2.425.232.715.564 1.322 1.003 1.813.436.496.97.876 1.605 1.136.634.26 1.356.393 2.173.393.804 0 1.521-.133 2.152-.393a4.21 4.21 0 001.596-1.136c.435-.495.767-1.098 1.003-1.813.233-.715.349-1.52.349-2.425zM153.197 9.388c0 1.306-.224 2.52-.676 3.644a8.763 8.763 0 01-1.907 2.928c-.821.83-1.812 1.479-2.97 1.95-1.156.47-2.441.706-3.847.706-1.41 0-2.695-.236-3.856-.706-1.161-.471-2.152-1.12-2.981-1.95a8.7 8.7 0 01-1.916-2.928c-.452-1.124-.68-2.338-.68-3.644 0-1.305.224-2.52.68-3.643a8.663 8.663 0 011.916-2.924c.825-.826 1.816-1.474 2.981-1.945 1.161-.471 2.446-.707 3.856-.707 1.41 0 2.691.24 3.848.715s2.148 1.128 2.969 1.95a8.704 8.704 0 011.907 2.924c.452 1.127.676 2.338.676 3.63zm-4.304 0c0-.892-.116-1.693-.348-2.408-.233-.714-.568-1.321-1.004-1.813a4.344 4.344 0 00-1.596-1.14c-.63-.264-1.348-.396-2.152-.396-.813 0-1.538.132-2.173.396a4.307 4.307 0 00-1.604 1.14c-.436.496-.772 1.103-1.004 1.813-.232.715-.348 1.516-.348 2.408 0 .9.116 1.71.348 2.425.232.715.564 1.322 1.004 1.813.435.496.97.876 1.604 1.136.635.26 1.356.393 2.173.393.804 0 1.522-.133 2.152-.393a4.21 4.21 0 001.596-1.136c.436-.495.767-1.098 1.004-1.813.232-.715.348-1.52.348-2.425zM166.594 15.08v3.346h-10.922V.372h4.205V15.08z" />
            </g>
         </svg>
         <a class="text-white  text-base no-underline hover:no-underline font-light tracking-wide pl-3" href="#">
            The most soldering solutions
         </a>
      </div>
      <div class="flex flex-wrap w-full">
         <section
            class="relative text-white font-light border-b px-4 pb-4 md:py-3 w-full md:border-none md:w-1/4 border-custom-3">
            <div class="md:hidden">
               <button (click)="toggleFooterSection($event)"
                  class="uppercase text-xs font-bold tracking-wider text-yellow-custom-1 focus:outline-none py-4 w-full text-left"
                  type="button">
                  Products
               </button>
            </div>
            <a class="text-base font-medium tracking-wider text-yellow-custom-1 hidden md:block border-b border-custom-3 pb-3"
               href="#">
               Products
            </a>
            <article #artic id="products" class="h-0 md:h-auto -mt-4 md:mt-0 overflow-hidden">
               <ul class="my-5 text-sm tracking-wide">
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Apparel</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200 hover:text-blue-200">
                     <a class="cursor-default" href="#">Benches, Workstations & Seating</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Bottles & Dispensers</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Cases & Tool Organizers</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Chemicals, Cleaning & Abrasives</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Cleanroom</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Hand & Power Tools</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Labels, Printers & Paper Supplies</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Magnification & Lighting
                     </a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Networking, Telecom & Fiber
                     </a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Power Management
                     </a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Safety Supplies
                     </a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Solder & Desolder
                     </a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Static Protection
                     </a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Storage & Handling
                     </a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Test Equipment
                     </a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Tool Kits
                     </a>
                  </li>
               </ul>
            </article>
         </section>
         <section
            class="relative text-white font-light font-light border-b border-custom-3 px-4 pb-4 md:py-3 w-full md:border-none md:w-1/4">
            <div class="md:hidden">
               <button (click)="toggleFooterSection($event)"
                  class="uppercase text-xs font-bold tracking-wider text-yellow-custom-1 focus:outline-none py-4 w-full text-left"
                  type="button">
                  Services
               </button>
            </div>
            <a class="text-base font-medium tracking-wider text-yellow-custom-1 hidden md:block border-b border-custom-3 pb-3 border-b border-custom-3"
               href="#">
               Services
            </a>
            <article #artic id="services" class="h-0 md:h-auto -mt-4 md:mt-0 overflow-hidden">
               <ul class="my-5 text-sm tracking-wide">
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Solutions, not just products</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">eProcurement</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Government Services</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Private Label Brands</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Inventory Management Solution</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Custom Tool Kitting Solution</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Logistics</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200 font-semibold">
                     <a class="hover:underline" href="#">Chair & Bench Configurators</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200 pl-2">
                     <a class="hover:underline" href="#">Bevco Chair Configurator</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200 pl-2">
                     <a class="hover:underline" href="#">Treston Bench Configurator</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200 font-semibold">
                     <a class="hover:underline" href="#">Free Assessments</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200 pl-2">
                     <a class="hover:underline" href="#">FREE Chemical Audit</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200 pl-2">
                     <a class="hover:underline" href="#">DESCO ESD Survey</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200 pl-2">
                     <a class="hover:underline" href="#">SCS EOS/ESD Assessment</a>
                  </li>
               </ul>
            </article>
         </section>
         <section
            class="relative text-white font-light font-light border-b border-custom-3 px-4 pb-4 md:py-3 w-full md:border-none md:w-1/4">
            <div class="md:hidden">
               <button (click)="toggleFooterSection($event)"
                  class="uppercase text-xs font-bold tracking-wider text-yellow-custom-1 focus:outline-none py-4 w-full text-left"
                  type="button">
                  Customer Service
               </button>
            </div>
            <a class="text-base font-medium tracking-wider text-yellow-custom-1 hidden md:block border-b border-custom-3 pb-3"
               href="#">
               Customer Service
            </a>
            <article #artic id="customerService" class="h-0 md:h-auto -mt-4 md:mt-0 overflow-hidden">
               <ul class="my-5 text-sm tracking-wide">
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Help</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Catalog Request</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Contact Us</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">FAQs</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Login / Register</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Shipping Information</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Tax ID Update</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Terms of Sale</a>
                  </li>
               </ul>
            </article>
         </section>
         <section
            class="relative text-white font-light font-light border-b border-custom-3 px-4 pb-4 md:py-3 w-full md:border-none md:w-1/4">
            <div class="md:hidden">
               <button (click)="toggleFooterSection($event)"
                  class="uppercase text-xs font-bold tracking-wider text-yellow-custom-1 focus:outline-none py-4 w-full text-left"
                  type="button">
                  Contact Us
               </button>
            </div>
            <a class="text-base font-medium tracking-wider text-yellow-custom-1 hidden md:block border-b border-custom-3 pb-3"
               href="#">
               Contact Us
            </a>
            <article #artic id="contactUs" class="h-0 md:h-auto -mt-4 md:mt-0 overflow-hidden">
               <form>
                  <div class="pt-6 pb-6 mb-4 flex flex-col">
                     <div class="mb-4">
                        <label class="block text-white text-sm tracking-wide mb-2" for="email">
                           Email
                        </label>
                        <input title="Type your email" class="appearance-none border rounded-sm w-full py-2 px-3 text-gray-custom-1" id="email"
                           type="email" placeholder="email">
                     </div>
                     <div class="mb-4">
                        <label class="block text-white text-sm tracking-wide mb-2" for="name">
                           Name
                        </label>
                        <input title="Type your name" class="appearance-none border rounded-sm w-full py-2 px-3 text-gray-custom-1" id="name"
                           type="text" placeholder="Type your name">
                     </div>
                     <div class="mb-6">
                        <label class="block text-white text-sm tracking-wide mb-2" for="Message">
                           Let us know your thoughts
                        </label>
                        <textarea title="Type a message" cols="30" rows="4" id="Message"
                           class="appearance-none border rounded-sm w-full py-2 px-3 text-gray-custom-1"
                           placeholder="Message"></textarea>
                     </div>
                     <div class="flex items-center justify-between">
                        <button
                           class="flex items-center justify-center w-full yellow-bg-custom-1 text-color-blue-brand font-semibold py-2 px-4 rounded-sm"
                           type="button">
                           Submit Your Information
                           <svg class="ml-3" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                              <path
                                 d="M8.47 9.756L10.398 12l-1.933 2.244.765.881L11.922 12 9.23 8.875l-.76.881zm3.77 0L14.166 12l-1.933 2.244.765.881L15.69 12l-2.692-3.125-.76.881zm-5.164 1.619H1.69V1.944l6.155 4.943c.184.15.429.15.614 0l6.154-4.943v5.681h1.077v-6.25c0-.69-.482-1.25-1.077-1.25H1.69c-.594 0-1.076.56-1.076 1.25v10c0 .69.482 1.25 1.076 1.25h5.385v-1.25zm6.353-10L8.153 5.613 2.876 1.375h10.553z"
                                 fill="#002554" fill-rule="evenodd" />
                           </svg>
                        </button>
                     </div>
                  </div>
               </form>
               <div class="flex items-center py-2 pl-5">
                  <div class="mr-4">
                     <svg width="29" height="28" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" fill-rule="evenodd">
                           <path
                              d="M14.752 9a2 2 0 100-4 2 2 0 000 4zm12 1h-2v2h2v14h-24V12h2v-2h-2a2 2 0 00-2 2v14a2 2 0 002 2h24a2 2 0 002-2V12a2 2 0 00-2-2z"
                              fill="#FFF" />
                           <path
                              d="M14.752 22l-6.09-8.6A8.14 8.14 0 0114.752 0a8.08 8.08 0 018 8.13 8.2 8.2 0 01-1.8 5.13l-6.2 8.74zm0-20a6.07 6.07 0 00-6 6.13 6.19 6.19 0 001.49 4l4.51 6.39 4.63-6.52a6.24 6.24 0 001.37-3.87 6.07 6.07 0 00-6-6.13z"
                              fill="#FFB600" fill-rule="nonzero" />
                        </g>
                     </svg>
                  </div>
                  <div>
                     <p class="text-sm tracking-wide text-white">
                        1547 N. Trooper Rd. Worcester, PA 19490
                     </p>
                  </div>
               </div>
               <div class="flex items-center py-2 pl-5">
                  <div class="mr-4">
                     <svg width="28" height="29" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" fill-rule="evenodd">
                           <path
                              d="M23 8h-.06A9 9 0 005.06 8H5a5 5 0 000 10h2V9a7 7 0 1114 0v10a4 4 0 01-3.17 3.91 4 4 0 10.05 2A6 6 0 0023 19v-1a5 5 0 000-10zm-9 14a2 2 0 110 4 2 2 0 010-4zM5 10v6a3 3 0 010-6zm18 6v-6a3 3 0 010 6z"
                              fill="#FFF" />
                           <path d="M14 28a4 4 0 110-8 4 4 0 010 8z" fill="#FFB600" />
                           <path d="M14 26a2 2 0 110-4 2 2 0 010 4z" fill="#FFF" />
                        </g>
                     </svg>
                  </div>
                  <div>
                     <p class="text-sm tracking-wide text-white">
                        +1 - 800 - 832 - 4866
                     </p>
                  </div>
               </div>
               <div class="flex items-center py-2 pl-5">
                  <div class="mr-4">
                     <svg width="28" height="20" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" fill-rule="evenodd">
                           <path
                              d="M26 0H2a2 2 0 00-2 2v16a2 2 0 002 2h24a2 2 0 002-2V2a2 2 0 00-2-2zm-2.2 2L14 8.78 4.2 2h19.6zM2 18V2.91l11.43 7.91a1 1 0 001.14 0L26 2.91V18H2z"
                              fill="#FFF" />
                           <path fill="#FFB600" d="M23.8 2L14 8.78 4.2 2z" />
                        </g>
                     </svg>
                  </div>
                  <div>
                     <a class="text-sm text-white tracking-wide hover:underline" href="#">
                        info@form.com </a>
                  </div>
               </div>
               <div class="w-full py-3 flex mb-5">
                  <div class="mt-2 flex items-center">
                     <button type="button"
                     title="Instagram" class="focus:outline-none py-2.5 px-4 hover:bg-blue-100 hover:bg-opacity-10 rounded-sm opacity-70" style="width: 4rem;">
                        <img src="../../assets/Images/icon-instagram-f.svg" alt="instagram">
                     </button>
                  </div>
                  <div class="inline-block mr-2 mt-2">
                     <button title="twitter" type="button"
                        class="focus:outline-none py-2.5 px-4 hover:bg-blue-100 hover:bg-opacity-10 rounded-sm opacity-70">
                        <svg width="30" height="24" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M9.34 24a17.06 17.06 0 0012.188-5.017 17.154 17.154 0 005.003-12.22V5.97a12.604 12.604 0 003-3.128 12.438 12.438 0 01-3.468.953A6.119 6.119 0 0028.74.44a11.883 11.883 0 01-3.83 1.477 6.04 6.04 0 00-7.262-1.2 6.074 6.074 0 00-3.047 6.717A17.108 17.108 0 012.152 1.11a6.065 6.065 0 001.873 8.055 5.972 5.972 0 01-2.677-.752v.067A6.078 6.078 0 006.1 14.455a6.049 6.049 0 01-2.678.107 6.04 6.04 0 005.596 4.148 12.096 12.096 0 01-7.51 2.685c-.48-.014-.958-.054-1.433-.12a17.063 17.063 0 009.265 2.684"
                              fill="#F4F6FD" fill-rule="evenodd" />
                        </svg>
                     </button>
                  </div>
                  <div class="inline-block mr-2 mt-2">
                     <button title="youtube" type="button"
                        class="focus:outline-none py-2.5 px-4 hover:bg-blue-100 hover:bg-opacity-10 rounded-sm opacity-70">
                        <svg width="35" height="25" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M33.894 3.947A4.286 4.286 0 0030.87.922C28.2.2 17.474.2 17.474.2S6.747.2 4.078.922a4.286 4.286 0 00-3.025 3.025A44.24 44.24 0 00.331 12.2a44.24 44.24 0 00.722 8.253 4.286 4.286 0 003.025 3.025c2.67.722 13.396.722 13.396.722s10.726 0 13.396-.722a4.286 4.286 0 003.024-3.025 44.24 44.24 0 00.722-8.253 44.24 44.24 0 00-.722-8.253zM14.045 17.343V7.057l8.902 5.143-8.902 5.143z"
                              fill="#F4F6FD" fill-rule="evenodd" />
                        </svg>
                     </button>
                  </div>
                  <div class="inline-block mr-2 mt-2">
                     <button title="Linkedin" type="button"
                        class="focus:outline-none py-2.5 px-4 hover:bg-blue-100 hover:bg-opacity-10 rounded-sm opacity-70">
                        <svg width="25" height="24" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M22.706 0H2.286a1.78 1.78 0 00-1.79 1.73V22.2a1.77 1.77 0 001.79 1.73h20.42a1.77 1.77 0 001.79-1.73V1.73A1.78 1.78 0 0022.706 0zm-15.1 20.41h-3.52V9h3.52v11.41zm-1.72-13a2.07 2.07 0 01-2.07-2.02 2 2 0 012.07-2.07 2.07 2.07 0 010 4.13v-.04zm15.09 12.93h-3.48v-5.58c0-1.33 0-3.06-1.86-3.06s-2.14 1.46-2.14 2.93v5.65h-3.56V9h3.32v1.5h.07a3.72 3.72 0 013.39-1.86c3.59 0 4.26 2.4 4.26 5.45v6.25z"
                              fill="#F4F6FD" fill-rule="evenodd" />
                        </svg>
                     </button>
                  </div>
               </div>
            </article>
         </section>
         <section
            class="relative text-white font-light font-light border-b border-custom-3 px-4 pb-4 md:py-3 w-full md:border-none md:w-1/4">
            <div class="md:hidden">
               <button (click)="toggleFooterSection($event)"
                  class="uppercase text-xs font-bold tracking-wider text-yellow-custom-1 focus:outline-none py-4 w-full text-left"
                  type="button">
                  Resources
               </button>
            </div>
            <a class="text-base font-medium tracking-wider text-yellow-custom-1 hidden md:block border-b border-custom-3 pb-3"
               href="#">
               Resources
            </a>
            <article #artic id="resources" class="h-0 md:h-auto -mt-4 md:mt-0 overflow-hidden">
               <ul class="my-5 text-sm tracking-wide">
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Application Notes</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Line Card</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">MSDS/SDS Sheets</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Manufacturer Videos</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Realtime Metals Charts</a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Technical Papers and Articles</a>
                  </li>
               </ul>
            </article>
         </section>
         <section
            class="relative text-white font-light font-light border-b border-custom-3 px-4 pb-4 md:py-3 w-full md:border-none md:w-1/4">
            <div class="md:hidden">
               <button (click)="toggleFooterSection($event)"
                  class="uppercase text-xs font-bold tracking-wider text-yellow-custom-1 focus:outline-none py-4 w-full text-left"
                  type="button">
                  Our Company
               </button>
            </div>
            <a class="text-base font-medium tracking-wider text-yellow-custom-1 hidden md:block border-b border-custom-3 pb-3"
               href="#">
               Our Company
            </a>
            <article #artic id="ourCompany" class="h-0 md:h-auto -mt-4 md:mt-0 overflow-hidden">
               <ul class="my-5 text-sm tracking-wide">
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">About us
                     </a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Government
                     </a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Privacy Policy
                     </a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">About Our Ads & Tracking Activities
                     </a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Conflict Minerals Policy
                     </a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">News
                     </a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Videos
                     </a>
                  </li>
                  <li class=" my-3 tracking-wide hover:text-blue-200">
                     <a class="hover:underline" href="#">Careers
                     </a>
                  </li>
               </ul>
            </article>
         </section>
         <section
            class="relative text-white font-light font-light border-b border-custom-3 px-4 pb-4 md:py-3 w-full md:border-none md:w-1/4">
            <div class="md:hidden">
               <button (click)="toggleFooterSection($event)"
                  class="uppercase text-xs font-bold tracking-wider text-yellow-custom-1 focus:outline-none py-4 w-full text-left"
                  type="button">
                  Brands
               </button>
            </div>
            <a class="text-base font-medium tracking-wider text-yellow-custom-1 hidden md:block border-b border-custom-3 pb-3"
               href="#">
               Brands
            </a>
         </section>
      </div>
   </div>
   <div class="w-full blue-background-custom-5">
      <section class="flex flex-col text-gray-700 font-light text-sm pt-4 pb-6 md:pt-5 md:pb-6 container mx-auto px-6">
         <div>
            <p class="text-sm text-white">
               &copy; Since 1959 - Techni-Tool, Inc., a TestEquity LLC company | <a
                  class="text-sm text-white hover:underline" href="#">All rights reserved</a>
            </p>
         </div>
      </section>
   </div>
</footer>