/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.border-blue-custom-1 {
    border-color: #005cb9;
}
.border-nav-custom-2 {
    border-color: #c3d4ea;
}
.border-nav-custom-3 {
    border-color: #e3eaee;
}
.blue-background-custom-1 {
    background-color: #f7f9ff;
}
.gray-background-custom-1 {
    background-color: #f2f3f3;
}
.text-color-blue-brand {
    color: #002554;
}
.text-color-blue-brand:hover {
    color: #005cb9;
}
.border-blue-brand {
    border-color: #002554;
}
.text-color-blue-brand-2 {
    color: #2060ad;
}
.blue-background-custom-3 {
    background-color: #002554;
}
.blue-background-custom-4 {
    background-color: #f7f9fa;
}
.blue-background-custom-5 {
    background-color: #001d42;
}
.text-yellow-custom-1 {
    color: #ffb600;
}
.border-custom-3 {
    border-color: #1f3a5a;
}
.yellow-bg-custom-1 {
    background-color: #ffb600;
}
.text-gray-custom-1 {
    color: #333f48;
}
button.text-color-blue-brand:hover {
    color: #002554;
}
button.yellow-bg-custom-1:hover {
    opacity: 0.8;
}

a.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}
a.skip-main:focus {
    left: 2rem;
    top: 1rem;
    width: 30%;
    height: auto;
    overflow: auto;
    margin: 0 5%;
    padding: 5px;
    font-size: 20px;
    background-color: #1f3a5a;
    text-align: center;
    z-index: 999;
    color: #fff;
}
.bg-yellow-brand {
    background-color: #ff9400;
}
.bg-yellow-brand:hover {
    background-color: #fa6500;
}
.account-set button svg {
    fill: #2060ad;
}

.account-set button:hover svg {
    fill: #7c878e;
}
.account-set .dropdown:hover .dropdown-menu {
    display: block;
}
.bg-yellow-brand {
    background-color: #ff9400;
}
.bg-yellow-brand:hover {
    background-color: #fa6500;
}
.account-set button svg {
    fill: #2060ad;
}

.account-set button:hover svg {
    fill: #7c878e;
}
.account-set .dropdown:hover .dropdown-menu {
    display: block;
}

.rotate-45 {
    --transform-rotate: 45deg;
    transform: rotate(45deg);
}

.group:hover .group-hover\:flex {
    display: flex;
}
/*----Repeated---*/
.text-color-blue-brand {
    color: #002554;
}
/*----End Repeated---*/

.account-set {
    color: #002554;
}

.bg-yellow-brand {
    background-color: #ff9400;
}
.bg-yellow-brand:hover {
    background-color: #fa6500;
}
.text-color-red-brand {
    color: #c63527;
}

.account-set button svg {
    fill: #2060ad;
}

.account-set button:hover svg {
    fill: #7c878e;
}
.account-set .dropdown:hover .dropdown-menu {
    display: block;
}

.rotate-45 {
    --transform-rotate: 45deg;
    transform: rotate(45deg);
}

.group:hover .group-hover\:flex {
    display: flex;
}
